.filtered-heading {
    padding: 30px;
}

.filtered-heading h2 {
    padding: 0 15px;
    margin: 0;
}

.filtered-heading div {
    padding: 5px 10px;
    background: lightgray;
    border-radius: 5px;
}